#portfolio {
    height: 100%;   
    margin-top: 30vh;
    overflow: hidden;
}

.portfolio__inner {
    padding: 16px;
}
.portfolio__title {
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    margin-bottom: 16px;
    width: 100%;
    height: 5vw;
    text-indent: -0.26vw;
}

.portfolio__title em {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2;
} 

.portfolio__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 7000px;
}
.portfolio__item {
    width: 500px;
    height: 70vh;
    background-color: var(--subBg100);
    padding: 2.5rem;
    margin-right: 20px;
}
.portfolio__item.p1 {
    background-color: var(--subBg100);
}
.portfolio__item.p2 {
    background-color: var(--subBg200);
}
.portfolio__item.p3 {
    background-color: var(--subBg300);
}
.portfolio__item.p4 {
    background-color: var(--subBg400);
}
.portfolio__item.p5 {
    background-color: var(--subBg500);
}
.portfolio__item.p6 {
    background-color: var(--subBg100);
}
.portfolio__item.p7 {
    background-color: var(--subBg200);
}
.portfolio__item.p8 {
    background-color: var(--subBg300);
}
.portfolio__item.p9 {
    background-color: var(--subBg400);
}
.portfolio__item.p10 {
    background-color: var(--subBg500);
}

.portfolio__item .num {
    font-size: 2rem;
    font-family: var(--mainNum-font);
}
.portfolio__item .img {
    display: block;
    margin-top: -20px;
    transition: margin-top 0.3s;
}
.portfolio__item:hover .img {
    margin-top: 0px;
}
.portfolio__item .img img {
    border-radius: 5px;
    filter: saturate(0%);
    transition: all 0.3s;
}
.portfolio__item .img:hover img {
    filter: saturate(100%);
}
.portfolio__item .title {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.8rem 0;
    font-weight: 700;
    color: var(--black100);
    border-bottom: 2px solid var(--black100);
    margin-bottom: 1rem;
}

.portfolio__item .desc {
    font-size: 1rem;
}
.portfolio__item .site {
    border: 1px solid var(--black100);
    display: block;
    text-align: center;
    padding: 0.625rem 1.5rem;
    margin-top: 1.5rem;
}
@media (max-width: 800px) {
    .portfolio__title {
        width: 100%;
        margin-bottom: 16px;
        font-size: 30px;
        height: auto;
        top: 68px;
        z-index: 1000;
        background-color: var(--mainBg-color);
    }
    .portfolio__item {
        width: 400px;
        padding: 40px 30px;
        height: auto;
    }
}